*,
*::before,
a::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.rocket-container {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
  padding-top: 20px;
  gap: 18px;
}

.rocket-section {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-family: sans-serif;
}

.image {
  flex: 1;
}

.image img {
  width: 100%;
}

.rocket-details {
  flex: 4;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.details p {
  padding-right: 5px;
}

.reserve-btn {
  width: 10vw;
  height: 5vh;
  background-color: #007bff;
  border: none;
  color: #fff;
  border-radius: 3px;
  transition: 0.5s;
  font-size: 14px;
  cursor: pointer;
}

.reserve-btn:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #094c94;
}