*,
*::before,
a::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Rocket Styling */

.name {
  font-weight: 600;
}

.rocket-container {
  display: flex;
  flex-direction: column;
  margin: 5px 35px;
  padding-top: 20px;
  gap: 30px;
}

.rocket-section {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-family: sans-serif;
}

.image {
  flex: 1;
}

.image img {
  width: 100%;
}

.rocket-details {
  flex: 4;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.details p {
  padding-right: 5px;
}

.reserve-btn {
  width: 10vw;
  height: 5vh;
  background-color: #007bff;
  border: none;
  color: #fff;
  border-radius: 3px;
  transition: 0.5s;
  font-size: 14px;
  cursor: pointer;
}

.reserve-btn:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #094c94;
}

.cancelation-btn {
  height: 5vh;
  width: 15vw;
  background-color: #e43232;
  border-radius: 5px;
  padding: 10px;
  transition: 0.6s;
  color: #fff;
  cursor: pointer;
}

.reserved {
  background-color: #68c1d0;
  color: #fff;
  margin-right: 5px;
  border-radius: 5px;
  padding: 4px;
  width: 15%;
  text-align: center;
}
